# App
PORT=8080
NODE_ENV=development

# Supabase Postgres
DB_HOST=db.abcd.supabase.co # change-this
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=supabase-db-password # change-this
DB_NAME=postgres
DB_SSL=true

# JWT
JWT_SECRET=super-secret-jwt-key # change-this
JWT_EXPIRATION=1h
JWT_REFRESH_SECRET=super-secret-refresh-jwt-key # change-this
JWT_REFRESH_EXPIRATION=7d
